:root {
    --page-bg:#fefdfe;/*  dde4de  */
    --tray-bg:#f7f7f7; /* f3fbf9 efebef b1b9b7 */
    --tray-hilite:#e9e5e5;
    --active-bg:rgb(234 222 177);
    --text-color:#2c3e50;
    --text-quiet:gray;
    --page-border:lightgray;
    --page-action:#83948d30;/*rgba(108 128 244 / 30%);*/
    --page-selected:#83948d20;/*rgba(108 128 244 / 20%);*/
    --page-action-secondary: rgb(234 222 177);
    --spacer:12px;
    --spacer2:24px;
    --spacer3:36px;
    --spacerhalf:6px;
    --spacerthird:4px;
    --spacerquarter:3px;
    --item-super:#7777DD80;
    --item-elevated:#77DD7780;
    --item-normal:#DDDD7780;
    --item-bad:#DD777780;
    --status-normal:#DDDDDD80;
    --status-success:#77DD7780;
    --status-warning:#DDDD7780;
    --status-error:#DD777780;
}
#introduction {
    border:1px solid darkgray;
    background-color: lightgray;
    padding:var(--spacer);
    font-style: italic;
}
#body-container {
    margin:0;
    padding:var(--spacer);
}
.link-tray {
    display: flex;
    flex-wrap: wrap;
}
.site-link {
    border:1px solid black;
    margin:var(--spacer);
    padding:var(--spacer);
    background-color:var(--tray-bg);
    cursor:pointer;
}
