:root {
    --page-bg:#fefdfe;/*  dde4de  */
    --tray-bg:#f7f7f7; /* f3fbf9 efebef b1b9b7 */
    --tray-hilite:#e9e5e5;
    --active-bg:rgb(234 222 177);
    --text-color:#2c3e50;
    --text-quiet:gray;
    --page-border:lightgray;
    --page-action:#83948d30;/*rgba(108 128 244 / 30%);*/
    --page-selected:#83948d20;/*rgba(108 128 244 / 20%);*/
    --page-action-secondary: rgb(234 222 177);
    --spacer:12px;
    --spacer2:24px;
    --spacer3:36px;
    --spacerhalf:6px;
    --spacerthird:4px;
    --spacerquarter:3px;
    --item-super:#7777DD80;
    --item-elevated:#77DD7780;
    --item-normal:#DDDD7780;
    --item-bad:#DD777780;
    --status-normal:#DDDDDD80;
    --status-success:#77DD7780;
    --status-warning:#DDDD7780;
    --status-error:#DD777780;
}
@font-face {
    font-family: "morse";
    src: url('fonts/morse.ttf') format('truetype');;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "railway-morse";
    src: url('fonts/MCmorse.ttf') format('truetype');;
    font-weight: normal;
    font-style: normal;
}
button {
    border:2px solid var(--page-border);
    background-color:var(--tray-bg);
    border-radius:8px;
    padding:2px 6px;
    cursor:pointer;
    color:var(--text-color);
    white-space: nowrap;
}
button:hover {
    background-color:var(--page-action);
}

.k-grid td.k-state-selected, .k-grid tr.k-state-selected > td, .k-drawer-item.k-state-selected {
    background-color:var(--page-action);
    color:black;
}
.k-drawer-item.k-state-selected:hover {
    background-color:var(--page-action);
    color:black;
}

BODY {
    overflow:hidden;
}
H1 {
    margin-top:0;
}
.page-collection-container {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:flex;
    flex-direction: column;
    flex:1 1;
}
.page-item-list {
    flex:60% 1
}
.page-item-properties {
    flex: 40% 250px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 12px);
    margin:0 6px;
}
.page-content .k-grid,.page-content .k-tabstrip {
    height:100%;
}
.item-placeholder-text {
    font-style:italic;
    color:var(--text-quiet);
}
.page-item-options {
    position:relative;
    border:1px solid var(--text-quiet);
    padding:var(--spacer);
    margin:var(--spacer) 0;
}
.page-item-options .box-title {
    position:absolute;
    top:-5px;
    left:5px;
    margin-top:-5px;
    color:var(--text-quiet);
    background-color:var(--tray-bg);
}
.page-full {
    padding:var(--spacer);
    overflow-y:auto;
}
::selection {
    background-color: #3399FF;
    color: #fff;
}
INPUT, SELECT {
    font-size:1.1em;
    padding:4px;
    border:1px solid var(--text-color);
    border-radius:3px;
    color:var(--text-color);
    min-width:150px;
}
.form-element-title {
    font-size:0.8em;
    font-weight:bold;
}
